.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

button {
    background-color: rgb(154, 209, 209);
    width: 3rem;
    font-size: 20px !important;
}

.billetera {
    width: 40px !important;
}

.contador {
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.productoTitulo {
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.productoDetalle {
    font-size: 0.8em;
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.productoPrecio {
    font-size: 1.3em;
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.mainList {
    display: flex;
    row-gap: 4rem;
    column-gap: 4rem;
    padding: 50px;
    width: 20%;
}

.productoImagen {
    width: 80%;
    height: auto;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#logo {
    width: 100px;
    height: 100px;
}

#carrito {
    width: 40px;
    height: 40px;
}

#contador {
    width: 3rem;
    text-align: center;
}