.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

button {
    background-color: rgb(154, 209, 209);
    width: 3rem;
    font-size: 20px !important;
}

.billetera {
    width: 40px !important;
}

.contador {
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.productoTitulo {
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.productoPrecio {
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.btnDetalle {
    width: 100% !important;
    background-color: rgb(138, 184, 138);
}

.card {
    display: flex;
    row-gap: 4rem;
    padding: 50px;
    width: 40%;
}


#logo {
    width: 18%;
    height: 100%;
}

#carrito {
    width: 40px;
    height: 40px;
}

#contador {
    width: 3rem;
    text-align: center;
}